*
{
	margin: 0;
	padding: 0;
}

[theme="dark"]
{
	color-scheme: dark;
}

[theme="light"]
{
	color-scheme: light;
}

:root
{
	--bcc-transition-duration: 0.3s;
}

a
{
	color: inherit;
	text-decoration: none;
}

main
{
	display: block;
}

/* Body */
/* Theme */
.theme-light
{
	background-color: rgb(245, 245, 245); /*rgba(200, 200, 200, 0.5);*/ /*rgba(255,255,255,1);*/
	color: black;
	transition-duration: 0.3s;
	transition-duration: var(--bcc-transition-duration);
}

.theme-dark
{
	background-color: #0d0d0d; /*#121212*/
	color: rgba(211, 211, 211, 0.8);
	transition-duration: 0.3s;
	transition-duration: var(--bcc-transition-duration);
}

img
{
	transition-duration: 0.5s;
}

.theme-dark img
{
	transition-property: filter opacity;
	transition-duration: 0.5s;
	filter: brightness(0.8) contrast(1.2);
	opacity: 0.8;
}

.theme-dark img:hover
{
	filter: brightness(1) contrast(1);
}

/* Written by Majuntang */
/* 2021-07-11 18:00:00  */
/* Header */
.header-base
{
	z-index: 9;
	top: 0;
	right: 0;
	left: 0;
	margin: 0;
	width: 100%;
	display: block;
	-webkit-backdrop-filter: saturate(120%) blur(5px);
	backdrop-filter: saturate(120%) blur(5px);
	background-color: rgba(0.0, 0.0, 0.0, 0.05);
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-duration: var(--bcc-transition-duration);
	overflow: hidden;
	user-select: none;
	position: sticky;
}

.theme-dark .header-base
{
	background-color: rgba(255,255,255,0.01);
}

.header-title-block
{
	white-space: nowrap;
	text-align: center;
	margin: auto;
	max-width: 960px;
	display: block;
}

.header-container-left
{
	float: left;
	width: auto;
	font-size: 20px;
	margin-left: 2%;
}

.header-container-right
{
	float: right;
	width: auto;
	font-size: 20px;
	margin-right: 2%;
}

.header-title
{
	text-shadow: white 0 0 3px;
	transition-property: text-shadow;
	transition-duration: 0.3s;
	margin: 5px;
	user-select: text;
	font-family: 'Times New Roman', serif;
	font-weight: bold;
	display: block;
	font-size: 2em;
	margin-block-start: 0.2em;
	margin-block-end: 0.1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.theme-dark .header-title
{
	text-shadow: none;
}

.light-dark-switch
{
	color: darkgoldenrod;
	font-family: Aileron, sans-serif;
}

.navigation
{
	font-size: 20px;
	font-weight: 300;
	font-family: Aileron, sans-serif;
	text-align: center;
	margin: 0px auto 0.3em;
	max-width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	transition-property: margin-bottom;
	transition-duration: 0.3s;
}

.navigation-hide
{
	margin-bottom: -1.3em;
}

.navigation a
{
	text-decoration: none;
	transition-property: color;
	transition-duration: 0.5s;
}

/* unvisited link */
.navigation a:link
{
	color: gray;
}

/* visited link */
.navigation a:visited
{
	color: gray;
}

/* mouse over link */
.navigation a:hover
{
	color: darkgoldenrod;
}

/* selected link */
.navigation a:active
{
	color: gray;
}

/* Footer */
/* ------ */
footer
{
	font-family: Aileron, sans-serif;
	font-weight: 300;
	font-size: 16px;
	background: rgba(0, 0, 0, 0);
	margin: 1em 0 0;
	padding: 1em;
	text-align: center;
}

/* Content */
main
{
	font-size: 20px;
	font-family: 'Times New Roman', serif;
	padding: 1em 1vw;
	line-height: 1.4;
	max-width: 1020px;
	margin: auto;
}

.page
{
	padding: 1em 5vw 2em;
	margin: 0 0 2em;
	background-color: white;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	transition-property: background;
	transition-duration: 0.3s;
	transition-duration: var(--bcc-transition-duration);
}

.page hr
{
	margin: 0.2em 1em;
}

/* Extra small devices */
@media only screen and (max-width: 498px)
{
	.page
	{
		padding-left: 0;
		padding-right: 0;
	}

	.navigation
	{
		font-size: 18px;
	}
}

/* Small devices */
@media only screen and (min-width: 501px)
{
}

/* Medium devices */
@media only screen and (min-width: 767px)
{
}

/* Large devices */
@media only screen and (min-width: 992px)
{
}

/* Extra large devices */
@media only screen and (min-width: 1200px)
{
}

.theme-dark .page
{
	background-color: #121212;
}

.page blockquote
{
	margin: 0em 0.8vw;
}

.page p
{
	text-indent: 1em;
	margin: 0.6em 1vw;
}

/*.page p:first-letter
{
	font-weight: bolder;
}*/

/*
main p:first-letter
{
	font-weight: bolder;
	float: left;
	font-size: 200%;
	margin-left: 0.3em;
	padding-right: 0.1em;
}
*/

.page h1
{
	font-size: 2.2rem;
	margin-bottom: 0.2em;
}

.page h2
{
	font-size: 1.8rem;
}

.page h3
{
	font-size: 1.5rem;
}

.page h4
{
	font-size: 1.2rem;
}

.page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6
{
	text-align: center;
}

.page img
{
	display: block;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: calc(100% - 5vw);
	height: auto;
}

.page a
{
	text-decoration: underline;
}

/* Card */
.card,
.card-image-base
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.card
{
	transition-property: background-color, box-shadow, border;
	transition-duration: 0.3s, 0.5s, 0.5s;
	transition-duration: var(--bcc-transition-duration), 0.5s, 0.5s;
	align-items: stretch;
	margin: 1em 1%;
	background-color: rgba(0,0,0,0.05);
	/*box-shadow: 4px 4px 8px rgba(0,0,0,0.1);*/
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 4px;
	overflow: hidden;
}

.card:hover
{
	border: 1px solid rgba(255,255,255,0.3);
	background-color: rgba(0, 0, 0, 0.03);
	/*box-shadow: 4px 4px 8px rgba(0,0,0,0);*/
}

.card img:hover
{
	transform: scale(1.1);
}

.card p
{
	margin: 0;
}

.card a
{
	text-decoration: none;
}

.card-image-base
{
	flex: 1 1 30ch;
	height: calc(280px + 5vw);
	overflow: hidden;
}

.card-image-base img
{
	max-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
	object-position: 50% 50%;
}

.card-info-base
{
	font-size: 20px;
	flex: 4 1 40ch;
	height: auto;
	max-height: calc(280px + 5vw);
	display: flex;
	flex-direction: column;
}

/*.card-info-base */.card-info-title
{
	font-size: 1.2em;
	color: #0074d4;
	margin-top: 1%;
}


/*.card-info-base */.card-info-title:hover
{
	text-decoration: underline;
}

/*.card-info-base */.card-info-meta-base
{
	font-family: Aileron, sans-serif;
	font-weight: 300;
	font-size: 0.8em;
	color: gray;
	margin: 0;
	text-align: center;
}


/*.card-info-base */.card-info-meta-text
{
	font-style: italic;
	color: gray;
	text-align: center;
	margin: 0;
}

/*.card-info-base */.card-info-meta-tag-base
{
	margin: 0;
}

/*.card-info-base */.card-info-meta-tag-base span
{
	/*background-color: white;*/
	background-color: rgba(255,255,255,0.5);
	/*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 3px;
	transition-property: background, box-shadow, border;
	transition-duration: 0.3s, 0.5s;
	transition-duration: var(--bcc-transition-duration), 0.5s;
	padding: 0.1% 1%;
	margin: auto 0.1em;
}

/*.card-info-base */.card-info-meta-tag-base span:hover
{
	/*border: 1px solid rgba(255,255,255,0.3);*/
	/*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);*/
	text-decoration: underline;
}

.theme-dark /*.card-info-base */.card-info-meta-tag-base span
{
	background-color: rgb(28,28,28);
}

/*.card-info-base */.card-info-description-base
{
	margin-bottom: 0em;
	padding: 0 1em;
	overflow-y: auto;
}

/*.card-info-base */.card-info-description-base p
{
	text-indent: 1em;
}
